.card{
    border: 5px solid #07c5;
    padding: 20px;
    /* margin: 10px; */
    border-radius: 5px;
}

.btn-delete{
    background-color: #f65858;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}